/*
The Bike Medics Web App
v 1.0
Author: Michael McFarland
www.michael-mcfarland.com
*/

.carousel-hero {
  position: relative;
  height: 100vh;
}

.bike-leaves {
  height: 400px;
  background-image: url(http://michael-mcfarland.com/img/bike-medics/bike-leaves-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 20px;
}

.carousel .carousel-inner .bike-item {
  height: 100vh;
}

.overlay-white {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.70);

}

.bike-hero {
  z-index: 3;
}

.bike-hero img {
  margin-top: 10%;
}

.bike-font {
  font-family: 'Bowlby One';
}

.bike-red {
  color: #CA2E37;
}

.bike-slides {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.first-slide {
  height: 100vh;
  background-image: url(http://michael-mcfarland.com/img/bike-medics/bike-bridge.jpg);
}

.second-slide {
  height: 100vh;
  background-image: url(http://michael-mcfarland.com/img/bike-medics/bike-trails.jpg);
}

.third-slide {
  height: 100vh;
  background-image: url(http://michael-mcfarland.com/img/bike-medics/mtns-fog.jpg);
}

.btn-main-blue {
  background-color: hsl(205, 100%, 32%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1ea1ff", endColorstr="#005fa3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1ea1ff), to(#005fa3));
  background-image: -moz-linear-gradient(top, #1ea1ff, #005fa3);
  background-image: -ms-linear-gradient(top, #1ea1ff, #005fa3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ea1ff), color-stop(100%, #005fa3));
  background-image: -webkit-linear-gradient(top, #1ea1ff, #005fa3);
  background-image: -o-linear-gradient(top, #1ea1ff, #005fa3);
  background-image: linear-gradient(#1ea1ff, #005fa3);
  border-color: #005fa3 #005fa3 hsl(205, 100%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.btn-main-blue:hover {
  background-color: hsl(217, 76%, 32%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#276ee1", endColorstr="#13438f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#276ee1), to(#13438f));
  background-image: -moz-linear-gradient(top, #276ee1, #13438f);
  background-image: -ms-linear-gradient(top, #276ee1, #13438f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #276ee1), color-stop(100%, #13438f));
  background-image: -webkit-linear-gradient(top, #276ee1, #13438f);
  background-image: -o-linear-gradient(top, #276ee1, #13438f);
  background-image: linear-gradient(#276ee1, #13438f);
  border-color: #13438f #13438f hsl(217, 76%, 27%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: auto;
}

// Material icons

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



.footer-btm {
  background-image: url(http://michael-mcfarland.com/img/bike-medics/footer-bkgd.png);
  width: 100%;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.proudly-serving {
  padding-top: 10px;
  padding-bottom: 95px;
}

.hour-box {
  background-color: #e1e3e4;
  width: 60%;
  box-shadow: #000 0px 2px 4px;
  border-radius: 15px;
  margin-top: 30px;
  padding: 16px;
}

.hour-con {
  display: flex;
  justify-content: center;
}

.bike-darkblue {
  color: #314e75;
}

.just-right {
  justify-content: flex-end;
}

/* Contact */

section#contact-contact {

  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center; }
  section#contact-contact .section-heading {
    color: #000; }
  section#contact-contact .form-group {
    margin-bottom: 25px; }
    section#contact-contact .form-group input,
    section#contact-contact .form-group textarea {
      padding: 20px; }
    section#contact-contact .form-group input.form-control {
      height: auto; }
    section#contact-contact .form-group textarea.form-control {
      height: 248px; }
  section#contact-contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
  section#contact-contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#contact-contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#contact-contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#contact-contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

  #contact-contact {
    padding: 40px 20px 40px 20px;
  }

.bike-icons {
  font-size: 100px;
  text-shadow: #000 -3px 1px 4px;
}

.work-container {
  margin-top: 30px;
}


.bike-shadow {
  -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.75);
}

// parallax

.bike-leaves {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.par-exp {
  color: white;
  padding: 20px;
}

.nav-phone {
  position: absolute;
  left: -26px;
  bottom: 10px;
}

.h2-repair-sales {
  text-shadow: #615f5f 0px 2px 4px;
}

// form

#bike-form {
  background-color: #304F73;
  color: white;
  padding: 30px 10px;
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.75);
  margin-bottom: 30px;
  margin-top: 30px;
}

#MedicsCarousel {
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.75);
}

.service-checks {
  margin-top: 40px;
}

.red-shadow {
  text-shadow: 0px 4px 6px #CA2E37;
}

#find-us {
  margin: 60px 0 80px 0;
}

.pad-icon {
  margin: 30px 0;
}

a:hover {

}

.serve-row {
  margin: 0px 0px;
  padding: 0px 0px;
}

.serve-box {
  margin: 0px 0px;
  padding: 0px 0px;
}

.biker-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.info-checks {
  color: #CA2E37;
}

@media only screen and (max-width: 495px) {
    .dis-phone {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .footer-btm {
        background-size: cover;
    }
}
