/*
The Bike Medics Web App
v 1.0
Author: Michael McFarland
www.michael-mcfarland.com
*/

.carousel {
  position: relative;
  height: 100vh;
}

.carousel .carousel-inner .bike-item {
  height: 100vh;
}

.overlay-white {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.70);

}

.bike-hero {
  z-index: 3;
}

.bike-hero img {
  margin-top: 10%;
}

.bike-font {
  font-family: 'Bowlby One';
}

.bike-red {
  color: #CA2E37;
}

.bike-slides {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.first-slide {
  height: 100vh;
  background-image: url(http://michael-mcfarland.com/img/bike-medics/bike-bridge.jpg);
}

.second-slide {
  height: 100vh;
  background-image: url(http://michael-mcfarland.com/img/bike-medics/bike-trails.jpg);
}

.third-slide {
  height: 100vh;
  background-image: url(http://michael-mcfarland.com/img/bike-medics/mtns-fog.jpg);
}

.btn-main-blue {
  background-color: hsl(205, 100%, 32%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1ea1ff", endColorstr="#005fa3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1ea1ff), to(#005fa3));
  background-image: -moz-linear-gradient(top, #1ea1ff, #005fa3);
  background-image: -ms-linear-gradient(top, #1ea1ff, #005fa3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ea1ff), color-stop(100%, #005fa3));
  background-image: -webkit-linear-gradient(top, #1ea1ff, #005fa3);
  background-image: -o-linear-gradient(top, #1ea1ff, #005fa3);
  background-image: linear-gradient(#1ea1ff, #005fa3);
  border-color: #005fa3 #005fa3 hsl(205, 100%, 26%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
  -webkit-font-smoothing: antialiased;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: auto;
}

.btn-main-blue:hover {
  background-color: hsl(217, 76%, 32%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#276ee1", endColorstr="#13438f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#276ee1), to(#13438f));
  background-image: -moz-linear-gradient(top, #276ee1, #13438f);
  background-image: -ms-linear-gradient(top, #276ee1, #13438f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #276ee1), color-stop(100%, #13438f));
  background-image: -webkit-linear-gradient(top, #276ee1, #13438f);
  background-image: -o-linear-gradient(top, #276ee1, #13438f);
  background-image: linear-gradient(#276ee1, #13438f);
  border-color: #13438f #13438f hsl(217, 76%, 27%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: auto;
}

// Material icons

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



.footer-btm {
  background-image: url(http://michael-mcfarland.com/img/bike-medics/footer-bkgd.png);
  width: 100%;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.proudly-serving {
  padding-top: 10px;
  padding-bottom: 95px;
}

.bike-darkblue {
  color: #314e75;
}



// .bike-item {
//   position: relative;
//   display: none;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   width: 100%;
//   transition: -webkit-transform .6s ease;
//   transition: transform .6s ease;
//   transition: transform .6s ease,-webkit-transform .6s ease;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   -webkit-perspective: 1000px;
//   perspective: 1000px;
// }
/********************************/
/*       Fade Bs-carousel       */
/********************************/
// .fade-carousel {
//     position: relative;
//     height: 100vh;
// }
// .fade-carousel .carousel-inner .item {
//     height: 100vh;
// }
// .fade-carousel .carousel-indicators > li {
//     margin: 0 2px;
//     background-color: #f39c12;
//     border-color: #f39c12;
//     opacity: .7;
// }
// .fade-carousel .carousel-indicators > li.active {
//   width: 10px;
//   height: 10px;
//   opacity: 1;
// }

/********************************/
/*          Hero Headers        */
/********************************/
// .hero {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     z-index: 3;
//     color: #fff;
//     text-align: center;
//     text-transform: uppercase;
//     text-shadow: 1px 1px 0 rgba(0,0,0,.75);
//       -webkit-transform: translate3d(-50%,-50%,0);
//          -moz-transform: translate3d(-50%,-50%,0);
//           -ms-transform: translate3d(-50%,-50%,0);
//            -o-transform: translate3d(-50%,-50%,0);
//               transform: translate3d(-50%,-50%,0);
// }
// .hero h1 {
//     font-size: 6em;
//     font-weight: bold;
//     margin: 0;
//     padding: 0;
// }
//
// .fade-carousel .carousel-inner .item .hero {
//     opacity: 0;
//     -webkit-transition: 2s all ease-in-out .1s;
//        -moz-transition: 2s all ease-in-out .1s;
//         -ms-transition: 2s all ease-in-out .1s;
//          -o-transition: 2s all ease-in-out .1s;
//             transition: 2s all ease-in-out .1s;
// }
// .fade-carousel .carousel-inner .item.active .hero {
//     opacity: 1;
//     -webkit-transition: 2s all ease-in-out .1s;
//        -moz-transition: 2s all ease-in-out .1s;
//         -ms-transition: 2s all ease-in-out .1s;
//          -o-transition: 2s all ease-in-out .1s;
//             transition: 2s all ease-in-out .1s;
// }

/********************************/
/*            Overlay           */
/********************************/
// .overlay {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: 2;
//     background-color: #080d15;
//     opacity: .7;
// }

/********************************/
/*          Custom Buttons      */
/********************************/
// .btn.btn-lg {padding: 10px 40px;}
// .btn.btn-hero,
// .btn.btn-hero:hover,
// .btn.btn-hero:focus {
//     color: #f5f5f5;
//     background-color: #1abc9c;
//     border-color: #1abc9c;
//     outline: none;
//     margin: 20px auto;
// }

/********************************/
/*       Slides backgrounds     */
/********************************/
// .fade-carousel .slides .slide-1,
// .fade-carousel .slides .slide-2,
// .fade-carousel .slides .slide-3 {
//   height: 100vh;
//   background-size: cover;
//   background-position: center center;
//   background-repeat: no-repeat;
// }
// .fade-carousel .slides .slide-1 {
//   background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
// }
// .fade-carousel .slides .slide-2 {
//   background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
// }
// .fade-carousel .slides .slide-3 {
//   background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
// }

/********************************/
/*          Media Queries       */
/********************************/
// @media screen and (min-width: 980px){
//     .hero { width: 980px; }
// }
// @media screen and (max-width: 640px){
//     .hero h1 { font-size: 4em; }
// }



.just-right {
  justify-content: flex-end;
}

/* Contact */

section#contact-contact {

  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center; }
  section#contact-contact .section-heading {
    color: #000; }
  section#contact-contact .form-group {
    margin-bottom: 25px; }
    section#contact-contact .form-group input,
    section#contact-contact .form-group textarea {
      padding: 20px; }
    section#contact-contact .form-group input.form-control {
      height: auto; }
    section#contact-contact .form-group textarea.form-control {
      height: 248px; }
  section#contact-contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
  section#contact-contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#contact-contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#contact-contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  section#contact-contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

  #contact-contact {
    padding: 40px 20px 40px 20px;
  }
